/*Autor: Nikola Mitic*/
body{
	font-family: sans-serif;
	background: #E3E2DF;
}
#menu {
	position: absolute;
	right:0;
	left:0;
	top:0;
	background: #0B0C10;
	color: #FFFFFF;
	height: 45px;
	padding-left: 18px;
	border-radius: 6px;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
}
#menu li {
	display: inline;
	position: relative;
	height:100%;
}
#menu a {
	display: block;
	line-height: 45px;
	height: 100%;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}
#menu li a:hover {
	color: #C3073F;
	background: #1F2833;
}

.account{
	float: right;
}

form[id=search] {
	position: absolute;
	left: 30%;
	right: 30%;
	width: 40%;
	top: 30%;
	display: inline;
	background: #E3E2DF;
	border-radius: 6px;
}
input[type=text].search {
	background: #E3E2DF;
    width:90%;
	height:100%;
	border-radius: 6px;
	border:none;

}
input[type=text].search:focus{
	outline: none;
}
form[id=search]:focus-within{
	outline: 2px solid gray;
}

button[type=submit].search {
	background: #E3E2DF;
	border-radius: 6px;
	border:none;
	float: right;
	cursor:pointer;

}


input[type=button], input[type=submit] {
	border-radius: 6px;
	color: #ffffff;
	font-size: 16px;
	font-family:sans-serif;
	background: #6F2232;
	padding: 10px 20px 10px 20px;
}

input[type=button]:hover,input[type=submit]:hover {
  background: #950740;
}

input[type=button].boring, input[type=submit].boring {
	border-radius: 6px;
	color: #ffffff;
	font-size: 16px;
	font-family:sans-serif;
	background: #636363;
	padding: 10px 20px 10px 20px;
}

input[type=button].boring:hover,input[type=submit].boring:hover {
  background: #a3a3a3;
}

a.logo{
	position: absolute;

}

img.movie-banner{
	width:100%;
	height:auto;
	border-radius: 6px;
}

ul.new-popular-movies{
	column-count: auto;
	column-width: 190px;
	list-style: none;
	padding: 0;
}
li.new-popular-movies{
	display: inline-block;
	width:100%;
	height:auto;
	text-align: center;
}
li.new-popular-movies a{
	color: black;
}

a.new-popular-movies{
	text-decoration: none;
}

i.gold-trophy{
	color: #FFD700;
	text-shadow: 1px 1px 1px black;
}

i.silver-trophy{
	color: #C0C0C0;
	text-shadow: 1px 1px 1px black;
}

i.bronze-trophy{
	color: #CD7F32;
	text-shadow: 1px 1px 1px black;
}
i.trash{
	color: #026928;
	text-shadow: 1px 1px 1px black;
}

table.search{
	width:100%;
	border: 1px solid black;
	border-collapse: collapse;
}

td.search{
	border: 1px solid black;
	border-collapse: collapse;
}
td.poster{
	width:9%;
}

td.ocena{
	width:9%;
	text-align: center;
}

tr.search{
	cursor: pointer;
}

img.search{
	max-width:100%;
	max-height:100%;
	height: auto;

}

.login_form{
	margin: auto;
	margin-top:300px;
	height:180px;
}

table.login_form{
	border: 5px solid black;
}

.error{
	color: #950740;
	text-align: center;
}

#prijavi_se{
	text-align: center;
}

.levo{
	border-right: 5px solid black;
	text-align: right;
}

.profile{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border: solid 1px black;
	background-color: yellow;
}

#profile_ime{
	vertical-align: top;
	text-align: center;
	background-color: blue;
	height: 15px;
}

#profile_opis{
	vertical-align: center;
	text-align: center;
}

#ime_opis{
	height: 200px;
	background-color: green;
	width: 100%;
}

.profile_slika{
	width: 200px;
	height: 200px;
}

#bez_margine{
	margin-top: 0 !important;
	background-color: blueviolet;
}

#profili div{
	background-color: aquamarine;
	width: 200px;
	height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

#profili p{
	height: 50px;
}

#liste{
	width: 100%;
	background-color: red;
}

#liste div{
	width: 100%;
	height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

#liste p{
	height:100px;
	text-align: center;
	background-position: center;
	color: white;
}

.sacuvani_slika{
	width: 50px;
	height: 50px;
}

a {
	text-decoration: none;
	color: black;
}