/*Autor: Mateja Milojević, Momcilo Milic*/

h1{
    text-align: center;
}

table.register {
    padding: 20px;
    font-family: sans-serif;
    margin-top: 200;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid;
    border-color: brown;
    border-radius: 25px;
}

tr{
    height: 50;
}
